.banner-internal {
    &_cont {
        padding-top: 45px;
        padding-bottom: 85px;
    }
    &_text {
        position: relative;
        max-width: 650px;
        padding: 0 60px 35px 60px;
        margin-left: auto;
        margin-right: auto;
        p {
            font-size: 18px;
        }
        &:after {
            @include seudo_elm();
            width:100px;
            height: 2px;
            background-color: $yellow;
            left:0;
            right: 0;
            bottom: 0;
            margin:auto;
        }
        &--two {
            padding-bottom: 0;
            &:after {
                content: normal;
            }
            .banner-internal_title:after {
                content: url("../../../assets/images/circle-orange-right.png");
            }
        }
        &--three {
            padding-bottom: 0;
            &:after {
                content: normal;
            }
        }
    }
    &_title {
        position: relative;
        font-size: 50px;
        padding: 10px 0;

        h1, h2 {
            font-size: inherit;
        }

        &:before, &:after {
            display: inline-block;
            top: 50%;
            height: 80px;            
        }
        &:before{
            @include seudo_elm(url("../../../assets/images/circle-dark-left.png"));
            left:0;
            transform: translate(-100%,-50%);
        }
        &:after {
            @include seudo_elm(url("../../../assets/images/circle-light-right.png"));
            right:0;
            transform: translate(100%,-50%);
        }
        //Responisive 
        @media ( max-width:767px ) {
            font-size: 40px;
        }
    }
}
//Cont-filter
.cont-filter {
    margin-bottom: 15px;
    .select-custom {
        flex-grow: 1;
        margin-right: 20px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-right: 0;
        }
    }
}

//Feed-twitter
.feed-twitter {
    &_header {
        margin-bottom: 15px;
    }
    &_title {
        flex-grow: 1;
    }

    //Responsive 
    @media (max-width:991px) {
        margin-top: 50px;
    }
}
.btn-twitter {
    padding: 7px 30px;
    border-radius: 30px;
    color: #47b9dd;
    border: 1px solid #47b9dd;
    font-weight: bold;
    transition: background-color .3s linear;
    &:hover {
        background-color: #47b9dd;
        color:white;
    }
}
.twitter-item {
    position: relative;
    padding: 20px 20px 15px 75px;
    border-top: 1px solid $gray-medium;
    &_fig {
        position: absolute;
        top: 20px;
        left: 0;
    }
    &_cont {
        p {
            font-size: 14px;
        }
    }
}
.twitter-name {
    margin-right: 6px;
}
.twitter-user {
    flex-grow: 1;
}
.twitter-user, .twitter-time {
    font-size: 12px;
}

//Pagination
.mod-pagination {
    margin-top: 50px;
    padding: 15px 25px;
    box-shadow:0 0 2px rgba(#222, .2);
    border-radius: 4px;
}
.pagination-list {
    padding-left: 12px;
    padding-right: 12px;
    border-left: 1px solid $gray-medium;
    border-right: 1px solid $gray-medium;
}
.pagination-item {
    a {
        display: block;
        padding: 5px 10px;
        border-radius:3px;
    }
    &.is-active {
        a {
            background-color: $red;
            color: white;
        }
    }
}
.pagination-btn {
    display: inline-block;
    position: relative;
    color: $blue-medium;
    &--prev:before, &--next:after {
        @include seudo_elm();
        width: 0;
        height: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &--prev {
        padding-left: 20px;
        &:before {
            border-width: 8px 8px 8px 0;
            border-style:solid;
            border-color: transparent $gray-dark transparent transparent;
            left: 0;
        }
    }
    &--next {
        padding-right: 20px;
        &:after {
            border-width: 8px 0 8px 8px;
            border-style:solid;
            border-color: transparent transparent transparent $gray-dark;
            right: 0;
        }
    }
}

//detail-mod
.detail-mod {
    padding: 55px 0 90px 0;
    h3 {
        font-size: $size-18;
        margin-bottom: 10px;
    }
    p {
        color: $gray-dark;
        margin-bottom: 20px;
    }
}
.subtitle-detail {
    position: relative;
    padding-bottom: 40px;
    &:after {
        @include seudo_elm();
        width: 90px;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $yellow;
    }
}
.actions-detail {
    margin-top: 80px;
}

//comments
.cont-form-comments {
    padding-left: 130px;
    //Responsive
    @media ( max-width:575px ) {
        padding-left: 0;
    }
}
.comments-avatar {
    position: absolute;
    top: 0;
    left: 15px;
    //Responsive
    @media ( max-width:575px ) {
        display: none;
    }
}
.form-comments {
    input, textarea {
        display: block;
        width: 100%;
        padding: 12px 20px;
    }
    textarea {
        height: 120px;
    }
}
.comments-cont {
    border-bottom: 1px solid $gray-medium;
}
.comment {
    position: relative;
    padding-left: 130px;
    padding-bottom: 30px;
    border-bottom: 1px solid $gray-medium;
    &:last-of-type {
        border-bottom: none;
    }
    &_fig {
        position: absolute;
        top: 0;
        left: 0;
    }
    &_header {
        margin-bottom: 12px;
        h3 {
            margin-right: 10px;
        }
    }
    p {
        margin-bottom: 15px;
    }
    //Responsive
    @media ( max-width:575px ) {
        padding-left: 0;
        &_fig {
            display: none;
        }
    }
}

//Faqs
.search-faq {
    position: relative;
    margin-top: 30px;
    input {
        padding: 12px 50px 12px 20px;
        display: block;
        width: 100%;
        border: transparent;
    }
    .search-faq_btn {
        position: absolute;
        width: 50px;
        height: 100%;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

//tabs-faq
.tabs-faq {
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(#222, .1);
    &_item {
        position: relative;
        background-color: white;
        border-bottom: 1px solid $gray-medium;
        &:before, &:after {
            @include seudo_elm();
            border-radius: 50%;
            margin:auto;
            top: 0;
            bottom: 0;
            margin: auto;
        }
        &:before {
            width: 15px;
            height: 15px;            
            left: 20px;
            border: 1px solid $gray-medium;
        }
        &:after {
            width: 6px;
            height: 6px;
            left: 26px;
            background-color: $blue-light;
        }
        a {
            display: block;
            position: relative;
            padding: 20px 50px;
            font-size: $size-18;
            color: $blue-medium;
            &:hover {
                &:after {
                    right: 22px;
                }
            }
            &:after {
                @include seudo_elm();
                width: 8px;
                height: 8px;
                top: 0;
                right: 25px;
                bottom: 0;
                margin: auto;
                border-top: 2px solid $red;
                border-right: 2px solid $red;
                transition: right .2s linear;
                transform: rotate(45deg);
            }
        }
        .is-active {
            background-color: $gray-light;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    &--mob {
        width: 100%;
        margin-bottom: 40px;
    }
}
.faqs-result {
    padding: 20px 30px;
    background-color: white;
    border-bottom: 1px solid $gray-medium;
}
.accordion-faq {
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(#222, .1);
    dt {
        position: relative;
        padding: 25px 20px 25px 0;
        border-bottom: 1px solid $gray-medium;
        font-size: $size-18;
        color: $blue-medium;
        cursor: pointer;
        @extend .u-medium;
        &:before, &:after {
            @include seudo_elm();
            width: 3px;
            height: 15px;
            background-color: $red;
            top: 50%;
            right: 5px;
            border-radius: 20px;
            transform: translateY(-50%);
            transition: opacity .2s linear;
        }
        &:after {
            transform: translateY(-50%) rotate(90deg);
        }
        &.is-active {
            border-bottom: 1px solid transparent;
            &:before {
                opacity: 0;
            }
        }
    }
    dd {
        display: none;
        padding-bottom: 40px;
        border-bottom: 1px solid $gray-medium;
        &.is-active {
            display: block;
        }
    }
}
.btn-faqs {
    display: block;
    padding: 20px 30px;
    box-shadow: 0 0 10px rgba(#222, .1);
    color: $blue-medium;
}

//Contactanos
.cont-bg-blue{
    position: relative;
    &:before{
        @include seudo_elm();
        width: 100%;
        height: 97%;
        background-color: $blue-dark;
        left: 0;
        bottom: 0;
    }

    //Responsive 
    @media ( min-width: 768px ) {
        margin-top: 30px;
        &:before {
            height: 90%;
        }
    }
}
.cont-bg-blue-light {
    position: relative;
    padding-top: 140px;
    &:before {
        @include seudo_elm();
        width: 100%;
        height: calc(100% - 80px);
        top: 0;
        left: 0;
        background-color: $blue-light;
    }
}
.m-tabs {
    &--mob {
        width: 100%;
    }
    &_item {
        width:140px;
        text-align: center;
        background-color: white;
        border-radius:4px;
        a {
            display: block;
            position: relative;
            padding: 35px 25px;
            height: 100%;
            box-shadow: 0 0 5px rgba(black, .1);
            transition: background-color .3s linear;
            &:before {
                @include seudo_elm();
                width:0;
                height: 0;
                border-width: 14px 10px 0 10px;
                border-style: solid;
                border-color: $yellow transparent transparent transparent; 
                left: 0;
                right: 0;
                bottom: -14px;
                margin: auto;
                opacity: 0;
                transition: opacity .2 linear;
            }
        }
        span {
            display: block;
            position: relative;
            padding-top: 20px;
            margin-top: 30px;
            &:before {
                @include seudo_elm();
                width: 80px;
                height: 1px;
                background-color: $yellow;
                top: 0;
                left: 0;
                right: 0;
                margin: auto;
            }
        }
        .is-active {
            background-color: $yellow;
            &:before {
                opacity: 1;
            }
        }
    }

    //Responisve
    @media ( min-width:992px ) {
        &_item {
            width:180px;
        }
    }
    @media ( min-width:1200px ) {
        &_item {
            width:200px;
        }
    }
}
.cont-tabs_item {
    padding: 40px 0;
    border-radius: 4px;

    &--one {
        padding: 40px 30px;
    }

    .list-products {
        margin-top: 60px;
    }

    //Responsive
    @media (min-width: 768px) {
        padding: 40px 50px 50px 50px;
    }
}
.cont-tabs {
    &_card {
        padding: 45px;
        border-radius: 3px;
        p {
            color: $gray-dark;
        }
    }
    &_form {
        label {
            display: block;
            font-size: $size-14;
        }
        span , label {
            color: white;
        }
        input, .select-custom, label, textarea {
            margin-bottom: 20px;
        }
        textarea {
            height: 130px;
        }
        .select-custom {
            width: 100%;
        }
    }
    &_actions {
        label {
            margin-bottom: 0;
        }
    }
    //Responisve
    @media ( max-width:991px ) {
        &_card {
            margin-bottom: 50px;
        }
    }
    @media ( max-width:575px ) {
        &_card {
            padding: 45px 30px;
        }
        &_form {
            .u-btn {
                width: 100%;
            }
        }
        &_actions {
            label {
                margin-bottom: 20px;
            }
        }
    }
    @media ( min-width:576px ) {
        &_btn {
            text-align: right;
        }
    }
}
.input-cv {
    position: relative;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    input {
        margin-bottom: 0;
        visibility: hidden;
    }
    span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}
.input-icon {
    position: relative;
    input {
        padding-left: 50px;
    }
    img {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
    }
}
.list-info {
    &_item {
        position: relative;
        padding: 15px 15px 15px 120px;
        border-bottom: 1px solid rgba($gray-medium,.8);
        &:last-of-type {
            border-bottom: none;
        }
    }
    &_icon {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
    }
    &_text {
        padding-left: 30px;
        border-left: 2px solid $yellow;
    }
    //Responisve
    @media ( max-width:575px ) {
        &_item {
            padding-left: 75px;
            padding-right: 0;
        }
        &_icon {
            left: 0;
        }
        &_text {
            padding-left: 20px;
        }
    } 
}

//elms-align
.elm-align {
    position: relative;
    
    h2 {
        font-size: 45px;
    }

    //Responsive
    @media ( max-width:768px ) {
        &:first-of-type {
            margin-bottom: 50px;
        }
    }
    @media ( min-width:768px ) {
        &--right {
            text-align: right;
        }
        &:first-of-type {
            padding-right: 50px;
        }
        &:last-of-type {
            padding-left: 50px;
            &:before {
                @include seudo_elm();
                width: 1px;
                height: 110%;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                background-color: white;
            }
        }
    }   
}

//item-list
.item-list {
    position: relative;
    margin-bottom: 25px;
    padding: 5px 15px 10px 30px;
    &:before {
        @include seudo_elm();
        width:2px;
        height: 100%;
        top: 0;
        left: 0;
        background-color: $yellow;
    }
    h3 {
        margin-bottom: 8px;
        font-size: $size-20;
    }
}

//card-icon
.card-icon {
    position: relative;
    height: 100%;
    padding: 30px 45px 30px 160px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(#222, .1);
    &:before {
        @include seudo_elm();
        width: 2px;
        height: calc(100% - 60px);
        top: 50%;
        left:125px;
        transform: translateY(-50%);
        background-color: $yellow;
    }
    img {
        position: absolute;
        top: 50%;
        left: 25px;
        transform: translateY(-50%)
    }
}

//sect-fence
.sect-fence {
    //Responsive
    @media ( min-width: 992px ) {
        background:linear-gradient(90deg, $yellow 50%, $gray-light 50%);
    }
}
.fence-col, .bubble-col {
    height: 100%;
}
.fence-col {
    position: relative;
    padding-top: 80px;
    &_cont {
        position: absolute;
        padding: 30px 15px;
        max-width: 290px;
        top: 25%;
        left: 20%;
    }
    //Responsive
    @media ( max-width:991px ) {
        background-color: $yellow;
        &_cont {
            top: 25%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    @media ( max-width:767px ) {
        &_cont {
            top: 20%;
        }
    }
    @media ( max-width:480px ) {
        padding-top:50px;
        padding-bottom: 50px;
        figure {
            display: none;
        }
        &_cont {
            position: relative;
            top: inherit;
            left: inherit;
            transform: none;
            .color-yellow {
                color: $blue-medium;
            }
        }
    }
}
.bubble-col {
    padding-top: 120px;
    padding-bottom:120px; 
    &_cont {
        position: absolute;
        padding: 20px 15px;
        top: 30%;
        left: 20%;
        max-width: 320px;
    }
    @media ( max-width:991px ) {
        background-color: $gray-light;
        &_cont {
            left: 50%;
            transform: translateX(-55%);
        }
    }
    @media ( max-width:767px ) {
        padding-top: 100px;
        padding-bottom: 100px;
        &_cont {
            transform: translateX(-60%);
        }
    }
    @media ( max-width:480px ) {
        figure {
            display: none;
        }
        &_cont {
            position: relative;
            top: inherit;
            left: inherit;
            transform: none;
        }
    }
}