<header class="header-main" id="header-main">
  <div class="container">
    <div class="flex-container flex-align-center">
      <figure class="col-md-5 col-7">
        <a href="#">
          <img
            src="assets/images/logo-te-respaldo.png"
            alt="Logo te respaldo"
          />
        </a>
      </figure>
      <!-- /col -->
      <div class="col-md-7 menu-global hide-mob-sm">
        <div class="menu-global_item">
          <div class="search-main">
            <button class="search-main_btn" aria-label="Buscar">
              <i class="fas fa-search" aria-hidden="true"></i>
            </button>
            <input type="text" placeholder="Buscar" />
          </div>
        </div>
        <!-- /item -->
        <div class="menu-global_item">
          <ul class="menu-global_list">
            <li class="menu-global_item">
              <a href="#" class="menu-global_link">Contáctanos</a>
            </li>
            <li class="menu-global_item">
              <a href="#" class="menu-global_link">Blog</a>
            </li>
            <li class="menu-global_item">
              <a href="#" class="color-red menu-global_link"
                >Iniciar sesión</a
              >
            </li>
          </ul>
        </div>
      </div>
      <!-- /col -->
      <div class="col-5 hide-desktop-md text-right">
        <button id="search-mobile" class="search-mobile" aria-label="Buscar">
            <i class="fas fa-search font-20" aria-hidden="true"></i>
        </button>
        <button id="nav-mobile" class="btn-mobile" aria-label="Menu"></button>
      </div>
    </div> 
    <!-- /row -->
  </div>
  <!-- /Container -->
  <div class="search-main search-main--mob d-inline-block">
    <button class="search-main_btn" aria-label="Buscar">
      <i class="fas fa-search" aria-hidden="true"></i>
    </button>
    <input type="text" placeholder="Buscar" />
  </div>
</header>
<!-- /header -->
<nav class="nav-main bg-blue-dark" id="nav-main">
  <div class="container">
    <ul class="menu-main flex-container flex-justify-center">
      <li class="menu-main_item">
        <a href="#" class="color-white menu-main_link"
          >Cotiza y compara</a
        >
      </li>
      <!-- /item -->
      <li class="menu-main_item">
        <a href="#" class="color-white  menu-main_link"
          >Encuentra tu seguro</a
        >
      </li>
      <!-- /item -->
      <li class="menu-main_item">
        <a href="#" class="color-white menu-main_link">Productos</a>
      </li>
      <!-- /item -->
      <li class="menu-main_item">
        <a href="#" class="color-white menu-main_link">Noticias</a>
      </li>
      <!-- /item -->
      <li class="menu-main_item">
        <a href="#" class="color-white menu-main_link">Sobre nosotros</a>
      </li>
      <!-- /item -->
    </ul>
    <ul class="menu-global_list hide-desktop-md">
      <li class="menu-global_item">
        <a href="#" class="menu-global_link">Contáctanos</a>
      </li>
      <li class="menu-global_item">
        <a href="#" class="menu-global_link">Blog</a>
      </li>
      <li class="menu-global_item">
        <a href="#" class="color-red menu-global_link"
          >Iniciar sesión</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- /nav -->
